<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <add key="CompanyName" value="Wijaya Handlooms (pvt) Ltd" />
    <add key="Telephone" value="" />
    <add key="Address" value="" />    
    <add key="StandardWidth" value="240" />
    <add key="StandardHeight" value="44" />
    <add key="LicenseKey" value="PPJH-JKTT-XKHJ-SWHP-XKPT"/>
  </appSettings>
</configuration>
